html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

@font-face {
  font-family: "Fredoka";
  src: url(../fonts/Fredoka.ttf);
}

h1 {
  font-size: 30px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a5d1938f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Welcome {
  margin-top: 30px;
  display: grid;
  background: #ffffff;
  width: 100%;
  font-family: "Fredoka";
  color: #5a6d53;
  text-align: center;
}

.loginDiv {
  display: flex;
  font-family: "Fredoka";
  font-size: 12 px;
  color: #5a6d53;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.loginButton {
  width: 100px;
  height: 40px;
  background: #5a6d53;
  border-radius: 10px;
  border: none;
  font-family: "Fredoka";
  font-size: 26px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton:hover {
  font-weight: bold;
  color: #9dc78c;
  font-family: "Fredoka";
}

.signupButton {
  width: 100px;
  height: 40px;
  background: #5a6d53;
  border-radius: 10px;
  border: none;
  font-family: "Fredoka";
  font-size: 26px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupButton:hover {
  font-weight: bold;
  color: #9dc78c;
  font-family: "Fredoka";
}

/*.signupButton {
  width: 66px;
  height: 40px;
  background: #9dc78c;
  border-radius: 10px;
  border: none;
  color: #5a6d53;
  font-family: "Fredoka";
  font-size: 14px;
  padding: 10px;
  margin: 10px;
}

.signupButton:hover {
  font-weight: bold;
  color: white;
  font-family: "Fredoka";
}*/

.home {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}
.signupDiv,
.loginDiv2 {
  display: flex;
  font-family: "Fredoka";
  font-size: 12 px;
  color: #5a6d53;
  align-items: center;
  justify-content: center;
  margin: 40 px;
}
a:hover {
  color: #ffffff;
  font-weight: bold;
}
a:link {
  color: #5a6d53;
  text-decoration: none;
  font-family: "Fredoka";
}
a:visited {
  color: #5a6d53;
  font-family: "Fredoka";
}
a:active {
  color: #ffffff;
  font-family: "Fredoka";
}

.littleLogin,
.littleSignup {
  width: 66px;
  height: 34px;
  background: #9dc78c;
  border-radius: 10px;
  border: none;
  color: #5a6d53;
  font-family: "Fredoka";
  font-size: 16px;
}

.littleLoginDiv,
.littleSignupDiv {
  display: flex;
  font-family: "Fredoka";
  font-size: 12 px;
  color: #5a6d53;
  align-items: center;
  justify-content: center;
}

.emailDiv,
.passDiv {
  display: flex;
  padding: 10px;
  margin: 5px;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Fredoka";
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email,
.userPass {
  font-family: "Fredoka";
  font-size: 25px;
  color: #5a6d53;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.rightsApp {
  font-family: "Fredoka";
  font-size: 10x;
  color: #5a6d53;
  text-align: center;
  margin-top: 80px;
}

.rightsSignup,
.rightsLogin {
  font-family: "Fredoka";
  font-size: 8ox;
  color: #5a6d53;
  text-align: center;
}

.logoRUG {
  width: 165px;
  height: 165px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
