.post_wrapper {
  border: 2pt solid #9dc78c;
  width: 70%;
  margin: 0 auto 10px auto;
  border-radius: 10px;
  font-family: "Fredoka";
  padding: 10px;
  background-color: white;
}

.post_header img {
  height: 50px;
  width: 50px;
  border-radius: 50pt;
}

.post_header {
  display: flex;
  height: 50%;
  gap: 2em;
}

@media (min-width: 320px) {
  .post_photo img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    margin-bottom: 10px;
  }

  .profilePic_comments img {
    display: flex;
    width: 10px;
    color: #5a6d53;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
  }
}

.post_photo img {
  max-width: 600px;
  max-height: 600px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post_buttons {
  display: flex;
  justify-content: space-between;
  background-color: #9dc78c;
}

.like_comm_share img {
  margin-right: 20px;
}

.postButton:hover {
  color: #ffffff;
  font-weight: bold;
}

.post_comments input {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fredoka";
  border-radius: 10px;
  border: none;
  background-color: #9dc78c;
  display: flex;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 14px;
}

.post_comments button {
  width: 66px;
  height: 34px;
  background: #9dc78c;
  border-radius: 10px;
  border: none;
  color: #5a6d53;
  font-family: "Fredoka";
  font-size: 16px;
  margin-top: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsFeed {
  display: flex;
}

.logoRUGminiFeed {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.profilePic_comments img {
  display: flex;
  width: 100%;
  border-radius: 50%;
}
.profilePic_comments {
  display: flex;
  width: 50px;
  color: #5a6d53;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.profile_and_comment h1 {
  font-size: 14px;
}
.profile_and_comment {
  width: 100%;
  font-size: 14px;
  border-bottom: solid 1px #9dc78c;
  margin-right: 40px;
}
.comment_layout {
  display: flex;
}

.captionArea {
  font-family: "Fredoka";
  font-size: 20px;
  color: #5a6d53;
  display: flex;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.captionAreaDiv {
  display: flex;
  border: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.choosePic {
  font-family: "Fredoka";
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 10px;
}

.addPostButton {
  width: 66px;
  height: 40px;
  background: #9dc78c;
  border-radius: 10px;
  border: none;
  color: #5a6d53;
  font-family: "Fredoka";
  font-size: 14px;
  margin: 10px;
  display: flex;
}

.addPostButton:hover {
  font-weight: bold;
}

.logoMiniCenter {
  display: flex;
  text-align: center;
  justify-content: center;
}

.userPost {
  font-family: "Fredoka";
  font-size: 22px;
  color: #5a6d53;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: left;
}

.post_caption {
  font-family: "Fredoka";
  font-size: 16px;
  font-weight: bolder;
  padding: 10px;
}
